**/bin/
**/.preprocessed_src/
**/pkg/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
/mvn-golang-wrapper/nbproject/
/mvn-golang-examples/mvn-golang-example-gomobile/classes/
/mvn-golang-examples/mvn-golang-example-gomobile/test-classes/
/mvn-golang-examples/mvn-golang-example-antlr/generated/